@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global CSS variables */
:root {
  --nav-height: 72px; /* adjust if your fixed navbar is taller/shorter */
}

html,
body,
#__next {
  height: 100%;
}

body {
  @apply bg-gray-50 text-gray-800 antialiased;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 1rem;
}
